@media all and (min-width: 500px) and (max-width: 800px)
{
	 #body-overflow {
		overflow-y: scroll;
	}
	.content {
		width: 100%;
		height: 100%;
		float: left;
	}
	.menu li {
		margin-top: 40px;
	}
	.header-logo {
		margin-top: 10px;
		margin-left: 10px;
	}
	.menu li {
		margin-left: 3%;
	}
	.reg , .log {
		border-radius: 10px;
		margin: -20px 180px 0 -100px;
	}
	.article h3 {
		line-height: 1.54em;
		margin-bottom: 30px;
		margin-top: -50px;
	}
	.article p {
		line-height: 1.54em;
		width: 95%;
		padding: 0 20px 50px 20px;
		margin-left: 5px;
	}
	.cart {
		width: 100%;
		margin: 10px 0;
	}
	.cart p, .cart h3 {
		width: 70%;
		margin-left: 14%;
	}
	.cart p {
		text-align: left;
	}
	.cart img {
		width: 400px;
		height: 350px;
		margin-left: 15%;
	}
	.tags-page {
		width: 100%;
		margin-left: 0;
		padding-top: 130px;
	}
	.tags-photo {
		width: 420px;
		margin: 20px 0 20px 70px;
	}
	.photo-home img {
		width: 100%;
		height: 500px;
	}
	.icon img {
		width: 100%;
	}
	.icon ul {
		margin-left: 40px;
	}
	.form {
		width: 84%;
	}
	.button {
		margin-left: 43%;
		margin-top: 20px;
		margin-bottom: 10px;
		float: left;
	}
	.formLogo {
		width: 100px;
		height: 100px;
		padding-top: 0;
		margin-left: 260px;
	}
	.contentSignUp {
		background-position: center;
	}
	.formSignUp form {
		margin-left: -90px;
	}
	/*calculate*/
	.content-clr {
		margin-left: -200px;
		padding-top: 195px;
		padding-bottom: 75px;
	}
	.footer {
		margin-top: -10px;
	}
}






