* {
	margin: 0;
	padding: 0;
}
#body-overflow {
	overflow-x: hidden;
}
body {
	background: white;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Dosis', 'Tahoma', sans-serif;
	line-height: 1.54em;
	font-weight: 100;
	letter-spacing: 0.02em;
	color: #434341;
}
a {
	color: #444444;
	text-decoration: none;
}
a:hover {
	color: #008B8B;
}
h3 {
	text-align: center;
	font-weight: 600;
}
p {
	padding: 10px;
	text-align: center;
	opacity: 0.8;
	font-size: 14px;
	position: relative;
}
  .header-logo{
	width: 90px;
	height: 90px;
	float: left;
	margin-top: 10px;
	margin-left: 570px;
}
.header,.header-page {
	width: 100%;
	height: 110px;
	background: #AFEEEE;
	position: fixed;
	z-index: 9;
}
.header {
	background: #222;
}
.header li a{
	color: white;
}
.header li a:hover {
	color: #008B8B;
}
 .menu li{
	padding: 3px;
	margin: 40px 10px 0 50px;
	list-style-type: none;
	display: inline-block;
	float: left;
	font-weight: 500;
}
.reg , .log, .exit {
	width: 70px;
	height: 25px;
	margin: 40px 20px 0 20px;
	text-align: center;
	color: white;
	float: right;
	border: 1px solid #008B8B;
	border-radius: 5px;
	background: #00CCCC;
}
.reg:hover , .log:hover, .exit:hover{
	color: black;
}
.content {
	width: 100%;
	background: white;
	padding-top: 50px;
	margin-bottom: 0;
}
.content-page {
	background: #DCDCDC;
	background-size: cover;
}
/*cart tags*/
.cart {
	width: 300px;
	background: white;
	margin: 130px 0;
	margin-left: 70px;
	float: left;
}
.tags-page {
	width: 940px;
	margin-left: 500px;
	padding-top: 170px;
	padding-bottom: 20px;
	background: white;
}
.tags ul{
	list-style-type: none;
}
.tags-page h3 {
	text-align: left;
	margin-top:20px;
	padding: 0 30px;
}
.tags-page p {
	text-align: left;
	color: black;
	font-family: 'Dosis', 'Tahoma', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	padding: 10px 30px;
}
.article {
	background: #00CCCC;
}
.article p {
	width: 50%;
	margin-left: 21%;
	font-size: 24px;
	line-height: 1.6em;
	padding: 100px;
	color: white;
	text-align: left;
	font-family: 'Dosis', 'Tahoma', sans-serif;
	margin-top: -30px;
}
.article h3{
	font-size: 2.8em;
	padding-top: 100px;
	font-family: 'Dosis', 'Tahoma', sans-serif;
	color: white;
	font-weight: 500;
}
.article h3 {
	clear: both;
}
.cart img {
	width: 300px;
	height: 280px;
	background-attachment: fixed;
}
.tags-photo {
	width: 600px;
	margin: 20px 0 20px 170px;
}
.tags-photo1 {
	width: 100%;
	height: 953px;
	margin-top: 110px;
	opacity: 0;
	position: absolute;
}
.tags-photo-first {
	width: 100%;
	height: 953px;
	margin-top: 110px;
	position: absolute;
}
.photo-home img {
	width: 100%;
	height: 1300px;
	background-size: cover;
}
.photo-home {
	margin-bottom: -10px;
}
.icon img{
	width: 100px;
	margin-bottom: -40px;
}
.icon li {
	margin-left: 90px;
	margin-bottom: 80px;
	list-style-type: none;
	display: inline-block;
}
.icon ul {
	margin-left: 520px;
}
.form {
	background: white;
	margin-left: 10px;
	border: none;
}
.avatar {
	width: 30px;
	height: 30px;
	background-size: cover;
	background-attachment: fixed;
}
#creatorUl li{
	list-style: none;
	font-size: 14px;
	line-height: 1.5;
	padding-bottom: 10px;
}
.styleLogin {
	margin-top: 12px;
	margin-bottom: -50px;
	margin-left: 95px;
	color: deepskyblue;
}
.styleDate {
	padding-top: 35px;
	margin-left: 95px;
	margin-bottom: -20px;
	color: #00CCCC;
}
.styleText {
	width: 500px;
	margin-left: 35px;
	margin-top: -10px;
	position: relative;
	list-style: none;
}
#newText {
	width: 100%;
	padding: 10px;
	margin-left: -6px;
}
.styleUserPic img {
	width: 55px;
	height: 50px;
	background-size: cover;
	margin-left: 30px;
	margin-top: -22px;
	margin-bottom: 10px;
	border: 1px solid gainsboro;
}
.wordComments p{
	color: #00CCCC;
	font-family: 'Courier New', Courier, monospace;
	font-size: 22px;
	font-weight: 600;
}
.thinkPic {
	width: 100px;
	height: 80px;
	margin-left: 30px;
}
#parentUl  li{
	display: inline-flex;
	margin: 20px 0 0 30px;
	list-style: none;
	font-size: 12px;
	width: 500px;
	line-height: 1.5;
	padding-bottom: 10px;
}
.pencilImg {
	width: 20px;
	height: 20px;
	margin-left: 500px;
}
#comments {
	outline: none;
	padding: 10px;
	border: dashed 1px grey;
}
#contactForm {
	margin-top: 10px;
}
#contactForm fieldset {
	width: 30%;
	margin-left: 10px;
	border: none;
}
#contactForm li {
	margin-top: 20px;
	list-style: none;
}
#contactForm input  {
	margin-left: 150px;
}
#contactForm textarea {
	margin-left: 10px;
	text-align: left;
}
.comment-respond h3 {
	margin-left: 10px;
}
.form-button {
	margin-left: 13px;
}
#enterComment, .form-button input{
	color: white;
	width: 100px;
	height: 35px;
	background: #5bc0de;
	border-radius: 5px;
	border: 3px solid #46b8da;
	outline: none;
	cursor: pointer;
	font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
}
.form-button:hover input {
	background: #46b8da;
}
.button {
	color: white;
	width: 95px;
	height: 28px;
	text-align: center;
	background:  #00CCCC;
	margin-left: 820px;
	border: 2px solid #00CED1;
	border-radius: 5px;
	margin-top: -36px;
	padding-top: 4px;
	float: left;
	font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
}
.button:hover {
	background: #40E0D0;
}
/*form sign up and log in*/
#signUp_email_error,
#signUp_username_error,
#signUp_confirmPassword_error,
#signUp_password_error,
#email_error,
#username_error,
#logIn_error,
#password_logIn_error,
#logIn_email_error,
#logIn_password_error {
	display: none;
	background: orangered;
	width: 307px;
	margin-left: 247px;
	margin-top: 2px;
	color: white;
	border-radius: 2px;
}
.formLogo {
	width: 120px;
	height: 120px;
	padding-top: 10px;
	margin-left: 890px;
}
.contentSignUp {
	width: 100%;
	height: 899px;
	background: url("../image/img.jpg/tumblr_nlioylEU8c1sy6m2qo1_1280.jpg");
	background-size: cover;
	padding-top: 200px;
}
#signUp input, #logIn input{
	font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
	outline: none;
	padding-top: 2px;
	padding-left: 5px;
	font-size: 18px;
	margin-top: 7px;
	border-radius: 4px;
}
#signUp h2,  #logIn h2 {
	color: #00CCCC;
	padding-bottom: 20px;
}
#signUp p,  #logIn p {
	color: black;
	padding-bottom: 30px;
	font-size: 18px;
	font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
	font-weight: 500;
}
#signUp_username,
#signUp_email,
#signUp_password,
#signUp_confirmPassword,
#signUp_userPic,
#logIn_submit,
#logIn_email,
#logIn_password {
	width: 300px;
	height: 50px;
	border: 1px solid gainsboro;
}
#signUp, #logIn {
	width: 800px;
	height: 400px;
	text-align: center;
	padding-top: 40px;
	margin-left: 550px;
}
#signUp_submit,  #logIn_submit {
	margin-top: 10px;
	width: 306px;
	height: 50px;
}
#signUp_submit, #logIn_submit {
	cursor: pointer;
	background: #00CCCC;
	color: white;
	border: 1px solid  #00CCCC;
}
/*calculate*/
.content-clr {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 308px;
	padding-bottom: 250px;
	background: white;
}
#inputLine {
	width: 340px;
	height: 65px;
	font-size: 48px;
	padding-right: 8px;
	text-align: right;
	border-radius: inherit;
	background: black;
	color: white;
	border: 3px  solid gray;
	box-shadow: inset 1px 0.5px 1px 2px white;
}
table {
	width: 400px;
	height: 450px;
	margin-left: 300px;
	padding: 40px 0 10px 20px;
	border-radius: 20px;
	border: 3px  solid gray;
	background: #9dd2ea;
	box-shadow: 1px 4px 5px 2px grey;
	background-image: url("../image/icon.png/fluttershy_bunny_by_pewdiedash-d54xxbu.png");
	background-size: cover;
	background-position: top;
}
#dateTime {
	width: 110px;
	height: 36px;
	font-size: 24px;
	text-align: center;
	border-radius: 1px;
	padding-top: 2px;
	background: black;
	border: 3px  solid gray;
	box-shadow: inset 1px 0.5px 1px 2px white;
	color: lawngreen;
}
#plus, #multiply, #minus, #divide {
	background: lawngreen;
	box-shadow: inset 1px 0.5px 8px 2px green;
	border: 3px  solid green;
	font-weight: 600;
}
#plus:hover, #multiply:hover, #minus:hover, #divide:hover {
	background: white;
	color: green;
}
#equals {
	color: white;
	background: red;
	border: 2px  solid crimson;
	box-shadow: inset 3px 1px 4px 2px crimson;
}
#equals:hover {
	color: red;
	background: white;
	border: 2px  solid crimson;
	box-shadow: inset 1px 0.5px 8px 2px crimson;
}
#reset {
	color: white;
	background: dodgerblue;
	border: 2px  solid blue;
	box-shadow: inset 3px 1px 8px 2px blue;
}
#reset:hover {
	color: blue;
	background: white;
	border: 2px  solid blue;
	box-shadow: inset 1px 0.5px 8px 2px blue;
}
.multiplication input{
	padding-top: 5px;
}
.calculatorKeys  input {
	width: 65px;
	height: 45px;
	border-radius: 10px;
	font-size: 20px;
	border: 3px solid magenta;
	box-shadow: inset 3px 0.5px 15px 3px blueviolet;
	cursor: pointer;
	transition: all 0s ease;
	outline: 0;
}
.calculatorKeys input:hover {
	background: white;
	border: 2px solid magenta;
	box-shadow: inset 2px 0.5px 7px 2px blueviolet;
	transition: all 0.1s ease;
}
.footer {
	width: 100%;
	height: 90px;
	color: #aaaaaa;
	background: #DCDCDC;
	text-align: center;
	clear: both;
}
.footer p {
	padding-top: 40px;
	font-size: 12px;
}
.footer p:hover {
	color: #717171;
}












