* {
	margin: 0;
	padding: 0;
}
#body-overflow {
	overflow-x: hidden;
}
body {
	background: white;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Dosis', 'Tahoma', sans-serif;
	line-height: 1.54em;
	font-weight: 100;
	letter-spacing: 0.02em;
	color: #434341;
}
a {
	color: #444444;
	text-decoration: none;
}
a:hover {
	color: #008B8B;
}
h3 {
	text-align: center;
	font-weight: 600;
}
p {
	padding: 10px;
	text-align: center;
	opacity: 0.8;
	font-size: 14px;
	position: relative;
}
  .header-logo{
	width: 90px;
	height: 90px;
	float: left;
	margin-top: 10px;
	margin-left: 570px;
}
.header,.header-page {
	width: 100%;
	height: 110px;
	background: #AFEEEE;
	position: fixed;
	z-index: 9;
}
.header {
	background: #222;
}
.header li a{
	color: white;
}
.header li a:hover {
	color: #008B8B;
}
 .menu li{
	padding: 3px;
	margin: 40px 10px 0 50px;
	list-style-type: none;
	display: inline-block;
	float: left;
	font-weight: 500;
}
.content {
	width: 100%;
	background: white;
	padding-top: 50px;
	margin-bottom: 0;
}
.content-page {
	background: #DCDCDC;
	background-size: cover;
}
/*cart tags*/
.cart {
	width: 300px;
	background: white;
	margin: 130px 0;
	margin-left: 70px;
	float: left;
}
.tags-page {
	width: 940px;
	margin-left: 500px;
	padding-top: 170px;
	padding-bottom: 20px;
	background: white;
}
.tags ul{
	list-style-type: none;
}
.tags-page h3 {
	text-align: left;
	margin-top:20px;
	padding: 0 30px;
}
.tags-page p {
	text-align: left;
	color: black;
	font-family: 'Dosis', 'Tahoma', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	padding: 10px 30px;
}
.article {
	background: #00CCCC;
}
.article p {
	width: 50%;
	margin-left: 21%;
	font-size: 24px;
	line-height: 1.6em;
	padding: 100px;
	color: white;
	text-align: left;
	font-family: 'Dosis', 'Tahoma', sans-serif;
	margin-top: -30px;
}
.article h3{
	font-size: 2.8em;
	padding-top: 100px;
	font-family: 'Dosis', 'Tahoma', sans-serif;
	color: white;
	font-weight: 500;
}
.article h3 {
	clear: both;
}
.cart img {
	width: 300px;
	height: 280px;
	background-attachment: fixed;
}
.tags-photo {
	width: 600px;
	margin: 20px 0 20px 170px;
}
.photo-home img {
	width: 100%;
	height: 1300px;
	background-size: cover;
}
.photo-home {
	margin-bottom: -10px;
}
.icon img{
	width: 100px;
	margin-bottom: -40px;
}
.icon li {
	margin-left: 90px;
	margin-bottom: 80px;
	list-style-type: none;
	display: inline-block;
}
.icon ul {
	margin-left: 520px;
}
.form {
	width: 50%;
	background: #DCDCDC;
	margin-left: 30px;
}
#contact-form fieldset {
	width: 30%;
	margin-left: 20px;
	border: 1px solid #DCDCDC;
}
#contact-form li {
	margin: 10px;
	list-style: none;
}
#contact-form input  {
	margin-left: 10px;
	text-align: left;
}
#contact-form textarea {
	margin-left: 10px;
	text-align: left;
}
.comment-respond h3 {
	margin-left: 10px;
}
.form-button input {
	margin-left: 5px;
}
.button {
	background: #AFEEEE;
	margin-left: 830px;
	border:5px solid #AFEEEE;
	border-radius: 3px;
	margin-top: -34px;
	float: left;
}
.button:hover {
	color: #008B8B;
}

/*calculate*/
table {
	width: 350px;
	height: 500px;
	margin-left: 300px;
	padding: 50px 0 50px 30px;
	border-radius: 10px;
	border: 1px  solid gray;
	background: #AFEEEE;
	box-shadow: inset 2px 3px 20px 2px grey;

}
#input-line {
	width: 300px;
	height: 35px;
	margin-left: -13px;
	font-size: 22px;
	padding-right: 8px;
	text-align: right;
	background: white;
	border-radius: inherit;
	box-shadow: none;
}
.content-calc {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 308px;
	padding-bottom: 200px;
	background: white;
}
.multiplication input{
	padding-top: 6px;
}
.tblCalc input{
	width: 40px;
	height: 25px;
	border: 1px solid gray;
	border-radius: 50px;
	font-size: 18px;
	outline:0;
	box-shadow: inset 2px 3px 5px 2px #aaaaaa;
}
.tblCalc input:hover {
	background: darkgrey;
	box-shadow: inset 2px 3px 5px 2px white;
}







.footer {
	width: 100%;
	height: 90px;
	color: #aaaaaa;
	background: #DCDCDC;
	text-align: center;
	clear: both;
}
.footer p {
	padding-top: 40px;
	font-size: 12px;
}
.footer p:hover {
	color: #717171;
}










